<a href="https://colab.research.google.com/github/samsoe/matrix/notebooks/blob/master/bioclimatic_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bioclimatic variables with R


the biovars function in the dismo library requires average monthly temperature maximum, minimum and monthly accumulated precipitation values
the data source was generated with this python notebook: http://bit.ly/2QQbCWf

data source download: http://bit.ly/2Z6hA8p

dismo package: https://www.rdocumentation.org/packages/dismo/versions/1.1-4/topics/biovars

In [0]:
install.packages("dismo")
library(dismo)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
also installing the dependencies ‘raster’, ‘sp’

Loading required package: raster
Loading required package: sp

In [0]:
source = "https://drive.google.com/uc?id=1t6CFjgeRU9T57VckdtO5fITZXeIAeIIs"
data <- read.csv(file = source, header=TRUE, sep=",")

In [0]:
tail(data)

   datetime   tmax tmin precip
67 2018-07-31 86.7 40.3 0.05
68 2018-08-31 95.4 41.8 0.42
69 2018-09-30 82.8 35.9 0.27
70 2018-10-31 65.0 26.7 1.30
71 2018-11-30 50.2 17.9 1.63
72 2018-12-31 42.4  5.1 0.50

In [0]:
years = split(data, format(as.Date(data$datetime), "%Y"))

In [0]:
yr_num = names(years)

In [0]:
for (i in seq_along(years)) {
  tmin <- years[[i]]['tmin']
  tmax <- years[[i]]['tmax']
  prec <- years[[i]]['precip']
  biovars = biovars(prec, tmin, tmax)
  year <- yr_num[[i]]
  
  print(year)
  print(biovars)
}

[1] "2013"
     bio1 bio2 bio3 bio4 bio5 bio6 bio7 bio8 bio9 bio10 bio11 bio12 bio13 bio14
[1,]   NA   NA   NA   NA   NA   NA   NA   NA   NA    NA    NA    NA    NA    NA
     bio15 bio16 bio17 bio18 bio19
[1,]    NA    NA    NA    NA    NA
[1] "2014"
        bio1     bio2     bio3     bio4 bio5  bio6  bio7 bio8     bio9    bio10
[1,] 43.4625 49.49167 46.55848 1883.129   90 -16.3 106.3 34.5 20.88333 64.86667
        bio11 bio12 bio13 bio14    bio15 bio16 bio17 bio18 bio19
[1,] 20.88333 10.81  2.03  0.32 29.03707  3.73  1.72  1.81  1.72
[1] "2015"
        bio1   bio2     bio3     bio4 bio5 bio6 bio7     bio8     bio9 bio10
[1,] 49.3875 48.175 54.00785 1577.557 94.3  5.1 89.2 64.66667 40.33333 68.85
        bio11 bio12 bio13 bio14    bio15 bio16 bio17 bio18 bio19
[1,] 31.16667  9.21  1.39  0.32 19.09367  2.82  1.69  1.94   2.3
[1] "2016"
         bio1     bio2     bio3     bio4 bio5 bio6 bio7     bio8     bio9
[1,] 46.58333 42.28333 44.32215 1625.814 87.9 -7.5 95.4 60.66667 26.08333
        bio10    bio11 bio12 bio13 bio14    bio15 bio16 bio17 bio18 bio19
[1,] 64.18333 24.61667 11.49  2.43   0.2 37.07401  4.37  1.07  3.02   1.2
[1] "2017"
         bio1     bio2     bio3     bio4 bio5 bio6 bio7     bio8     bio9 bio10
[1,] 45.64583 44.64167 42.51587 1836.989 95.6 -9.4  105 53.18333 66.41667  67.1
     bio11 bio12 bio13 bio14    bio15 bio16 bio17 bio18 bio19
[1,] 21.05 12.68  3.06  0.07 41.91038  5.14  1.21   3.3  3.06
[1] "2018"
         bio1     bio2     bio3     bio4 bio5 bio6 bio7 bio8     bio9    bio10
[1,] 45.47917 43.89167 44.42476 1564.297 95.4 -3.4 98.8 53.4 63.81667 63.81667
     bio11 bio12 bio13 bio14    bio15 bio16 bio17 bio18 bio19
[1,]  25.9 13.97  2.83  0.05 42.50532  7.38  0.74  0.74     2