# Put together csv for 'dismo' to process
[R Package 'dismo'](https://cran.r-project.org/web/packages/dismo/dismo.pdf)

In [2]:
import pandas as pd

## Temperature

* temperature source csv: [download link](http://bit.ly/2KtyWZ2)

In [174]:
src = '../src/orchard_house-temp_hourly.csv'
df = pd.read_csv(src, parse_dates=['datetime'], index_col='datetime')

In [180]:
# subselect downloaded columns for basic temperature columns
df = df.iloc[:, [1, 4, 7, 10, 13, 16]]

In [185]:
# average all stations columns together by row
station_ave = df.mean(axis=1).to_frame(name='temp')

In [188]:
# 2012 and 2019 are incomplete, remove them
station_ave = station_ave['2014':'2018']

In [120]:
# min values by month
station_ave_min = station_ave.groupby(pd.Grouper(freq='M')).min()
station_ave_min.columns = ['tmin']
station_ave_min.head()

                 tmin
datetime
2013-01-31   3.750000
2013-02-28        NaN
2013-03-31        NaN
2013-04-30  26.466667
2013-05-31  26.383333

In [128]:
# max values by month
station_ave_max = station_ave.groupby(pd.Grouper(freq='M')).max()
station_ave_max.columns = ['tmax']
station_ave_max.head()

                 tmax
datetime
2013-01-31  41.450000
2013-02-28        NaN
2013-03-31        NaN
2013-04-30  65.716667
2013-05-31  80.366667

In [125]:
temperature = pd.concat([station_ave_max,station_ave_min], axis=1)

In [127]:
temperature.head()

                 tmax       tmin
datetime
2013-01-31  41.450000   3.750000
2013-02-28        NaN        NaN
2013-03-31        NaN        NaN
2013-04-30  65.716667  26.466667
2013-05-31  80.366667  26.383333

## Precipitation

In [77]:
precip_src = '../src/MPG Ranch Weather Stations - Precipitation - Hourly_Archive.csv'
df_precip = pd.read_csv(precip_src, parse_dates=['Date Time'], index_col='Date Time')

In [78]:
df_precip.head()

,Baldy Summit Rain (in),Baldy Draw Rain (in),Sanfoin Bench Rain (in),South Baldy Ridge Rain (in),Orchard House Rain (in),Indian Ridge Rain (in)
Date Time,,,,,,
2012-06-19 16:00:00,0.0,0.0,0.0,0.0,0.0,NaN
2012-06-19 16:05:00,0.0,0.0,0.0,0.0,0.0,NaN
2012-06-19 16:10:00,0.0,0.0,0.0,0.0,0.0,NaN
2012-06-19 16:15:00,0.0,0.0,0.0,0.0,0.0,NaN
2012-06-19 16:20:00,0.0,0.0,0.0,0.0,0.0,NaN

In [79]:
# average all stations
precip = df_precip.mean(axis=1).to_frame(name='precip')

In [87]:
# 2012 and 2019 are incomplete, remove them
precip = precip['2013':'2018']

In [101]:
# sum by month
precip = precip.groupby(pd.Grouper(freq='M')).sum()

In [111]:
precip.head()

              precip
Date Time
2013-01-31  0.155000
2013-02-28  0.000000
2013-03-31  0.000000
2013-04-30  0.028333
2013-05-31  1.190000

## Combine Results

In [135]:
temperature_precip = pd.concat([temperature.round(1), precip.round(2)], axis=1)

In [140]:
temperature_precip.tail()

            tmax  tmin  precip
datetime
2018-08-31  95.4  41.8    0.42
2018-09-30  82.8  35.9    0.27
2018-10-31  65.0  26.7    1.30
2018-11-30  50.2  17.9    1.63
2018-12-31  42.4   5.1    0.50

In [138]:
output = '../output/temperature_precip-190604.csv'
temperature_precip.to_csv(output)