<a href="https://colab.research.google.com/github/samsoe/matrix/blob/master/notebooks/precip_and_biomass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [0]:
# for time series
install.packages("xts", repos="http://cloud.r-project.org")
library(xts)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

# Load Biomass

In [0]:
# load biomass
src <- "https://drive.google.com/uc?id=1gzpnX019uG9YoS4ZQOQEyf4OTuLPIHgT"
biomass <- read.csv(src, stringsAsFactors=FALSE)

In [0]:
glimpse(biomass)

Observations: 3,953
Variables: 7
$ gridpt       <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3,…
$ year         <int> 2011, 2010, 2017, 2016, 2016, 2015, 2015, 2014, 2014, 20…
$ season       <chr> "fall", "fall", "spring", "fall", "spring", "fall", "spr…
$ type         <chr> "Range", "Range", "Range", "Range", "Range", "Range", "R…
$ pt_avg_grams <dbl> 8.990000, NA, 3.326667, 21.273333, 2.780000, 6.873333, 1…
$ lat          <dbl> 46.72972, 46.72972, 46.72972, 46.72972, 46.72972, 46.729…
$ long         <dbl> -114.0010, -114.0010, -114.0010, -114.0010, -114.0010, -…

# Fall

In [0]:
# select for fall
biomass <- biomass %>% filter(season == "fall")
summary(biomass)

     gridpt           year         season              type
 Min.   :  2.0   Min.   :2010   Length:2081        Length:2081
 1st Qu.: 83.0   1st Qu.:2011   Class :character   Class :character
 Median :191.0   Median :2013   Mode  :character   Mode  :character
 Mean   :200.3   Mean   :2013
 3rd Qu.:301.0   3rd Qu.:2015
 Max.   :574.0   Max.   :2018

  pt_avg_grams         lat             long
 Min.   : 0.000   Min.   :46.67   Min.   :-114
 1st Qu.: 3.520   1st Qu.:46.68   1st Qu.:-114
 Median : 7.020   Median :46.70   Median :-114
 Mean   : 9.268   Mean   :46.70   Mean   :-114
 3rd Qu.:12.337   3rd Qu.:46.71   3rd Qu.:-114
 Max.   :87.185   Max.   :46.73   Max.   :-114
 NA's   :976

In [0]:
str(biomass)

'data.frame':	2081 obs. of  7 variables:
 $ gridpt      : int  2 2 2 2 2 2 2 3 3 3 ...
 $ year        : int  2011 2010 2016 2015 2014 2013 2012 2017 2016 2015 ...
 $ season      : chr  "fall" "fall" "fall" "fall" ...
 $ type        : chr  "Range" "Range" "Range" "Range" ...
 $ pt_avg_grams: num  8.99 NA 21.27 6.87 7 ...
 $ lat         : num  46.7 46.7 46.7 46.7 46.7 ...
 $ long        : num  -114 -114 -114 -114 -114 ...

In [0]:
head(biomass)

  gridpt year season type  pt_avg_grams lat      long
1 2      2011 fall   Range  8.990000    46.72972 -114.001
2 2      2010 fall   Range        NA    46.72972 -114.001
3 2      2016 fall   Range 21.273333    46.72972 -114.001
4 2      2015 fall   Range  6.873333    46.72972 -114.001
5 2      2014 fall   Range  7.003333    46.72972 -114.001
6 2      2013 fall   Range  6.176667    46.72972 -114.001

## Load Precip

In [0]:
# load precip
p_src = "https://drive.google.com/uc?id=1qWCMbNBE3o4llcTUs3wT8SDNS0jVTlT0"
precip = read.csv(p_src, stringsAsFactors=FALSE)

In [0]:
precip

  Index   ave      year_minusone
1 2012 Q4 2.960000       NA
2 2013 Q4 2.508333 2.960000
3 2014 Q4 3.730000 2.508333
4 2015 Q4 2.693333 3.730000
5 2016 Q4 3.846667 2.693333
6 2017 Q4 5.138333 3.846667
7 2018 Q4 7.381667 5.138333

In [0]:
precip$year <- as.integer(vapply(strsplit(precip$Index, " "), `[`, 1, FUN.VALUE=character(1)))

In [0]:
precip

  Index   ave      year_minusone year
1 2012 Q4 2.960000       NA      2012
2 2013 Q4 2.508333 2.960000      2013
3 2014 Q4 3.730000 2.508333      2014
4 2015 Q4 2.693333 3.730000      2015
5 2016 Q4 3.846667 2.693333      2016
6 2017 Q4 5.138333 3.846667      2017
7 2018 Q4 7.381667 5.138333      2018

In [0]:
head(biomass)

  gridpt year season type  pt_avg_grams lat      long
1 2      2011 fall   Range  8.990000    46.72972 -114.001
2 2      2010 fall   Range        NA    46.72972 -114.001
3 2      2016 fall   Range 21.273333    46.72972 -114.001
4 2      2015 fall   Range  6.873333    46.72972 -114.001
5 2      2014 fall   Range  7.003333    46.72972 -114.001
6 2      2013 fall   Range  6.176667    46.72972 -114.001

## Merge

In [0]:
b_p <- merge(biomass, precip, by="year", all=TRUE)

In [0]:
head(b_p)

  year gridpt season type   pt_avg_grams lat      long      Index ave
1 2010   2    fall   Range      NA       46.72972 -114.0010 NA    NA
2 2010 278    fall   Range  9.9075       46.68165 -114.0004 NA    NA
3 2010  21    fall   Range  3.9325       46.72046 -114.0183 NA    NA
4 2010  60    fall   Range  2.5700       46.71208 -114.0125 NA    NA
5 2010 281    fall   Range  6.6575       46.68297 -113.9908 NA    NA
6 2010 122    fall   Active 3.4200       46.69796 -114.0317 NA    NA
  year_minusone
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [0]:
b_p <- b_p[order(b_p$year, b_p$gridpt),]

In [0]:
colnames(b_p)[8] <- "quarter"

In [0]:
tail(b_p)

     year gridpt season type     pt_avg_grams lat      long      quarter
2047 2018 471    fall   Riparian 22.47667     46.70214 -114.0425 2018 Q4
2042 2018 480    fall   Riparian 27.44000     46.71092 -114.0417 2018 Q4
2041 2018 481    fall   Riparian  9.56000     46.70958 -114.0447 2018 Q4
2052 2018 482    fall   Riparian  0.00000     46.70839 -114.0406 2018 Q4
2062 2018 484    fall   Riparian 13.00667     46.70708 -114.0436 2018 Q4
2068 2018 571    fall   Active   12.40000     46.71035 -114.0388 2018 Q4
     ave      year_minusone
2047 7.381667 5.138333
2042 7.381667 5.138333
2041 7.381667 5.138333
2052 7.381667 5.138333
2062 7.381667 5.138333
2068 7.381667 5.138333

In [0]:
colnames(b_p)

 [1] "year"          "gridpt"        "season"        "type"
 [5] "pt_avg_grams"  "lat"           "long"          "quarter"
 [9] "ave"           "year_minusone"

In [0]:
b_p <- b_p[ , c(1, 2, 4, 5, 3, 8, 9, 10, 6, 7)]

In [0]:
names(b_p)

 [1] "year"              "gridpt"            "type"
 [4] "pt_avg_grams"      "season"            "quarter"
 [7] "quarterprecip_ave" "year_minusone"     "lat"
[10] "long"

In [0]:
names(b_p)[7] <- 'quarterprecip_ave'

In [0]:
names(b_p)[8] <- 'quarterprecip_ave_minus1yr'

In [0]:
tail(b_p)

     year gridpt type     pt_avg_grams season quarter quarterprecip_ave
2047 2018 471    Riparian 22.47667     fall   2018 Q4 7.381667
2042 2018 480    Riparian 27.44000     fall   2018 Q4 7.381667
2041 2018 481    Riparian  9.56000     fall   2018 Q4 7.381667
2052 2018 482    Riparian  0.00000     fall   2018 Q4 7.381667
2062 2018 484    Riparian 13.00667     fall   2018 Q4 7.381667
2068 2018 571    Active   12.40000     fall   2018 Q4 7.381667
     quarterprecip_ave_minus1yr lat      long
2047 5.138333                   46.70214 -114.0425
2042 5.138333                   46.71092 -114.0417
2041 5.138333                   46.70958 -114.0447
2052 5.138333                   46.70839 -114.0406
2062 5.138333                   46.70708 -114.0436
2068 5.138333                   46.71035 -114.0388

In [0]:
tail(b_p[ , c(1,5,2,3,4,6,7,8,9,10)])

     year season gridpt type     pt_avg_grams quarter quarterprecip_ave
2047 2018 fall   471    Riparian 22.47667     2018 Q4 7.381667
2042 2018 fall   480    Riparian 27.44000     2018 Q4 7.381667
2041 2018 fall   481    Riparian  9.56000     2018 Q4 7.381667
2052 2018 fall   482    Riparian  0.00000     2018 Q4 7.381667
2062 2018 fall   484    Riparian 13.00667     2018 Q4 7.381667
2068 2018 fall   571    Active   12.40000     2018 Q4 7.381667
     quarterprecip_ave_minus1yr lat      long
2047 5.138333                   46.70214 -114.0425
2042 5.138333                   46.71092 -114.0417
2041 5.138333                   46.70958 -114.0447
2052 5.138333                   46.70839 -114.0406
2062 5.138333                   46.70708 -114.0436
2068 5.138333                   46.71035 -114.0388

In [0]:
names(b_p)

 [1] "year"                       "gridpt"
 [3] "type"                       "pt_avg_grams"
 [5] "season"                     "quarter"
 [7] "quarterprecip_ave"          "quarterprecip_ave_minus1yr"
 [9] "lat"                        "long"

In [0]:
write.csv(b_p, file = "mpg_precip_biomass.csv", quote = FALSE, row.names = FALSE)

In [0]:
src = "https://drive.google.com/uc?id=1LX1iFFkKi4V9YjFVMsansk4-i3rSrqbv"
x <- read.csv(src, stringsAsFactors=FALSE)

# Spring

In [0]:
# select for spring
spring_biomass <- biomass %>% filter(season == "spring")
summary(spring_biomass)

     gridpt           year         season              type
 Min.   :  2.0   Min.   :2011   Length:1872        Length:1872
 1st Qu.: 80.0   1st Qu.:2012   Class :character   Class :character
 Median :189.5   Median :2014   Mode  :character   Mode  :character
 Mean   :197.0   Mean   :2014
 3rd Qu.:297.2   3rd Qu.:2015
 Max.   :574.0   Max.   :2018

  pt_avg_grams         lat             long
 Min.   : 0.000   Min.   :46.67   Min.   :-114
 1st Qu.: 1.183   1st Qu.:46.68   1st Qu.:-114
 Median : 2.883   Median :46.70   Median :-114
 Mean   : 4.724   Mean   :46.70   Mean   :-114
 3rd Qu.: 5.877   3rd Qu.:46.71   3rd Qu.:-114
 Max.   :46.653   Max.   :46.73   Max.   :-114
 NA's   :999

In [0]:
head(spring_biomass)

  gridpt year season type  pt_avg_grams lat      long
1 2      2017 spring Range 3.326667     46.72972 -114.001
2 2      2016 spring Range 2.780000     46.72972 -114.001
3 2      2015 spring Range 1.903333     46.72972 -114.001
4 2      2014 spring Range 1.590000     46.72972 -114.001
5 2      2013 spring Range 1.913333     46.72972 -114.001
6 2      2012 spring Range 7.875000     46.72972 -114.001

In [0]:
# filter out na's
spring_biomass <- spring_biomass %>% filter(!is.na(pt_avg_grams))

In [0]:
# load precip
spring_src = "https://drive.google.com/uc?id=1hfgw44RyK-By_VwLgwV512XrzIzkaf4s"
spring_precip = read.csv(spring_src, stringsAsFactors=FALSE)

In [0]:
spring_precip

  Index   ave
1 2013 Q2 2.508333
2 2014 Q2 2.526667
3 2015 Q2 2.058333
4 2016 Q2 3.846667
5 2017 Q2 5.138333
6 2018 Q2 7.381667

In [0]:
spring_precip$year <- as.integer(vapply(strsplit(spring_precip$Index, " "), `[`, 1, FUN.VALUE=character(1)))

In [0]:
spring_precip

  Index   ave      year
1 2013 Q2 2.508333 2013
2 2014 Q2 2.526667 2014
3 2015 Q2 2.058333 2015
4 2016 Q2 3.846667 2016
5 2017 Q2 5.138333 2017
6 2018 Q2 7.381667 2018

In [0]:
spring_biomass_precip <- merge(spring_biomass, spring_precip, by="year", all=TRUE)

In [0]:
# filter to begin 2013
spring_biomass_precip <- filter(spring_biomass_precip, year >= "2013")

In [0]:
names(spring_biomass_precip) <- c('year','gridpt','season','type','pt_avg_grams','lat','long','precip_qtr','ave')

In [0]:
head(spring_biomass_precip)

  year gridpt season type     pt_avg_grams lat      long      precip_qtr
1 2013 203    spring Range    0.7900000    46.68870 -114.0157 2013 Q2
2 2013  19    spring Range    0.7233333    46.71957 -114.0247 2013 Q2
3 2013  89    spring Range    4.3533333    46.70282 -114.0298 2013 Q2
4 2013  75    spring Degraded 3.0133333    46.70811 -114.0080 2013 Q2
5 2013 289    spring Degraded 0.4400000    46.67812 -114.0259 2013 Q2
6 2013 138    spring Degraded 6.8433333    46.69620 -114.0278 2013 Q2
  ave
1 2.508333
2 2.508333
3 2.508333
4 2.508333
5 2.508333
6 2.508333

In [0]:
write.csv(spring_biomass_precip, file = "mpgspring_precip_biomass.csv", quote = FALSE, row.names = FALSE)